tqdm
gevent
dotenv
requests
jsonlines
tree-sitter==0.20.4
numpy
transformers==4.34.1
torch
torchvision
torchaudio
nltk
datasets
huggingface-hub==0.17.0
rank-bm25
scikit-learn
tensorboard
rapidfuzz
simhash
pyright